
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# VSCode
.vscode

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env
venv/
db.sqlite3

### OSX ###
.DS_Store
.AppleDouble
.LSOverride