boto3==1.9.45
botocore==1.12.45
Django==2.1.3
django-crudbuilder==0.2.7
django-tables2==2.0.3
docutils==0.14
jmespath==0.9.3
psycopg2==2.7.6.1
python-dateutil==2.7.5
pytz==2018.7
s3transfer==0.1.13
six==1.11.0
urllib3==1.24.1
